.body {
  background-color: #E4F2F2;
}

.container {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content {
  margin: 10px 20px;
  padding: 5px;
  
  text-align: center;

  border: 1px solid darkblue;
  border-radius: 5px;
  box-shadow: 0 12px 18px darkslategrey;
}

.title {
  font-size: larger;
  font-weight: 600;
}
